<div *ngIf="item">
  <h2>Update the {{item.name|lowercase}} using the form below:</h2>
  <div><span>Id: </span>{{item.id}}</div>
  <div>Name:
    <input [(ngModel)]="item.name" placeholder="name"/>
  </div>
  <div>Description:
    <input [ngModel]="item.description" placeholder="description"/>
  </div>
  <div>Price:
    <input [ngModel]="item.price" placeholder="price"/>
  </div>
  <div>Stock:
    <input [ngModel]="item.amountOfStock" placeholder="stock"/>
  </div>
</div>
<button (click)="save()">Save</button>
<button (click)="goBack()">Cancel</button>
