<div class="itemOverviewHeader"><h2>Item overview</h2>
  <nav>
    <a routerLink="/create">Create new item</a>
  </nav>
  <router-outlet></router-outlet>
  <app-item-search></app-item-search>
</div>
<ul class="items">
  <li *ngFor="let item of items">
    <a routerLink="/detail/{{item.id}}">
      <div class="itemHeader"><h3>{{item.name | titlecase}}</h3></div>
      <img
        src="assets/box.jpg"
        width="160"
        alt="item picture">
      <div><span>Price: </span>{{item.price | currency}}</div>
      <div><span>Stock urgency: </span>{{item.stockUrgency}}</div>
      <div><span>__________________</span></div>
    </a>
  </li>
</ul>




