<h2>Items</h2>
<ul class="items">
  <li *ngFor="let item of items"
      [class.selected]="item===selectedItem"
      (click)="onSelect(item)">
    <h3>{{item.name | titlecase}}</h3>
    <img
      src="assets/box.jpg"
      width="160"
      alt="item picture">
    <div><span>Price: </span>{{item.price | currency}}</div>
    <div><span>Stock urgency: </span>{{item.stockUrgency}}</div>
    <div><span>__________________</span></div>
  </li>
</ul>

<div *ngIf="selectedItem">
  <h2>Details of {{selectedItem.name|lowercase}}</h2>
  <div><span>Id: </span>{{selectedItem.id}}</div>
  <div><label>Name:
      <input [(ngModel)]="selectedItem.name" placeholder="name"/>
    </label></div>
  <div><span>Description: </span>{{selectedItem.description}}</div>
  <div><span>Price: </span>{{selectedItem.price | currency}}</div>
  <div><span>Stock: </span>{{selectedItem.stock}}</div>
</div>


